header {
    background-color: #333333;

    /* This makes the header's height expand to the
     * height of its floated children. */
    overflow: hidden;
}

header #login-message {
    color: white;
    font-style: italic;
    display: inline-block;
    margin-left: 15px;
}

header #logo,
header #logo a:link,
header #logo a:visited,
header #logo a:hover {
    margin: 0px;
    color: white;
    text-decoration: none;
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

header nav li {
    display: inline-block;
}

header nav a {
    display: block;
    padding: 15px;
}

header nav a:link,
header nav a:visited {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    background-color: black;
}

#content {
    clear: both;
}
