<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link href="/static/css/normalize.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">

        <!-- JavaScript -->
        <script src="/static/js/main.js" async></script>

        <title>WolfStudy</title>
    </head>

    <body>
        <header>
            <h1 id="logo"><a href="/">WolfStudy</a></h1>

            <nav>
                <ul>
                    <li><a href="/feed">Feed</a></li>
                    <li><a href="/ask">Ask</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
