{% extends "bootstrap/base.html" %}

{% block title %}WolfStudy{% endblock %}

{% block head %}
    {{ super() }}

    <meta name="description" content="">

    <!-- CSS -->
    <!--<link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}" async></script>
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse-content" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">WolfStudy</a>
            </div>

            <!-- Things to be collapsed in the header -->
            <div class="collapse navbar-collapse" id="header-collapse-content">
                {% if current_user.is_authenticated %}
                    <p class="navbar-text">Logged in as {{ current_user.username }}</p>
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.ask_question') }}">Ask</a></li>

                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                {{ current_user.username }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.show_user', username=current_user.username) }}">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert alert-info">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
