{% extends "base.html" %}

{% block page_content %}
    <h2>{{ question.title }}</h2>

    <p>{{ question.content }}</p>

    <hr>

    <h2>Answers:</h2>

    {% for answer in answers %}
        <p>{{ answer.content }}</p>
    {% endfor %}

    <hr>

    {% if session.logged_in %}
        <form action="/question/{{ question.id }}/answer/" method="post">
            <label for="content">Answer this question:</label>
            <textarea id="content" name="content"></textarea>
            <br>

            <button type="submit">Submit</button>
        </form>
    {% else %}
        <p><a href="/login">Log in</a> or <a href="/register">register</a> to answer this question.</p>
    {% endif %}
{% endblock %}
