{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h2>{{ question.title }}</h2>

    <p>{{ question.content }}</p>

    <hr>

    <h2>Answers:</h2>

    {% for answer in answers %}
        <p>{{ answer.content }}</p>
    {% endfor %}

    <hr>

    {% if session.logged_in %}
        {{ wtf.quick_form(form) }}
    {% else %}
        <p><a href="/login">Log in</a> or <a href="/register">register</a> to answer this question.</p>
    {% endif %}
{% endblock %}
