{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h2>{{ question.title }}</h2>

    <p>{{ question.content }}</p>

    <hr>

    <h2>Answers:</h2>

    {% for answer in answers %}
        <p>{{ answer.content }}</p>
    {% endfor %}

    <hr>

    {% if current_user.is_authenticated %}
        {% set action %}{{ url_for('main.answer_question', question_id=question.id) }}{% endset %}
        {{ wtf.quick_form(form, action=action) }}
    {% else %}
        <p><a href="{{ url_for('auth.login') }}">Log in</a> or <a href="{{ url_for('auth.register') }}">register</a> to answer this question.</p>
    {% endif %}
{% endblock %}
